header {
    background: 
        linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.5)),
        url('https://www.transparenttextures.com/patterns/dark-matter.png'); 
    border-bottom: 4px double var(--imperial-gold);
    box-shadow: 0 10px 30px rgba(0,0,0,0.9);
}

header h1 {
    font-family: 'Cinzel', serif;
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--imperial-gold);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 15px rgba(198, 163, 77, 0.6);
}

header p {
    font-size: 1.2rem;
    color: var(--blood-god);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 0 0 5px var(--blood-god);
}